<p>
  <% if user_signed_in? %>
    <%= link_to "Editar Perfil", edit_account_path, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Acessar", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>
