<table class="table table-striped records">
  <thead>
    <tr>
      <th>Permissão</th>
      <th>Campo</th>
      <th>Antigo valor</th>
      <th>Novo valor</th>
    </tr>
  </thead>
  <% record.audited_changes.each do |key, values| %>
    <tbody>
      <tr>
        <td>
          <%= record.auditable.role_humanize %>
        </td>
        <td>
          <%= record.human_attribute_name key %>
        </td>
        <td><%= raw record.parse(key.to_sym, values, :first) %></td>
        <td><%= raw record.parse(key.to_sym, values, :last) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
