<tr>
  <td colspan="4">
    <span class="daily-note-student-legend">
      *Alunos cursando dependência
    </span>
  </td>
</tr>
<tr>
  <td colspan="4">
    <span class="daily-note-student-legend">
      *** Alunos não enturmados
    </span>
  </td>
</tr>
<tr>
  <td colspan="4">
    <span class="daily-note-student-legend">
      **** Alunos dispensados da disciplina
    </span>
  </td>
</tr>
