<p>
  Olá, <b><%= @name %></b>.
</p>

<p>
  Agora você tem acesso ao i-Diário da prefeitura de <%= @entity %>. O portal do professor integrado com o software i-Educar.
</p>

<p>
  Para fazer login no sistema utilize as informações abaixo: <br><br>
  <b>Usuário:</b> <%= @login %> <br>
  <b>Senha:</b> <%= @password %>
</p>

<p>
  Este e-mail foi enviado automaticamente, favor não responder.
</p>
