<p>
  Olá, <b><%= @name %></b>.
</p>

<p>
  Sua senha de acesso ao sistema foi redefinida.
</p>

<p>
  Para fazer login no sistema utilize as informações abaixo: <br><br>
  <b>Usuário:</b> <%= @login %> <br>
  <b>Senha:</b> <%= @password %>
</p>

<p>
  Este e-mail foi enviado automaticamente, favor não responder.
</p>
