---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Deficiencia?access_key=***REMOVED***&instituicao_id=1&oper=get&resource=deficiencias&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"deficiencias":[{"id":"2","nome":"Cegueira"},{"id":"3","nome":"Baixa
        Vis\u00e3o"},{"id":"4","nome":"Surdez"},{"id":"5","nome":"Defici\u00eancia
        Auditiva"},{"id":"6","nome":"Surdocegueira"},{"id":"7","nome":"Defici\u00eancia
        F\u00edsica"},{"id":"8","nome":"Defici\u00eancia Mental"},{"id":"9","nome":"Defici\u00eancia
        M\u00faltipla"},{"id":"10","nome":"Autismo Cl\u00e1ssico"},{"id":"11","nome":"S\u00edndrome
        de Asperger"},{"id":"12","nome":"S\u00edndrome de Rett"},{"id":"13","nome":"Transtorno
        desintegrativo da inf\u00e2ncia (psicose infantil)"},{"id":"14","nome":"Altas
        Habilidades\/Superdota\u00e7\u00e3o"},{"id":"15","nome":"um teste"}],"oper":"get","resource":"deficiencias","msgs":[],"any_error_msg":false}'
  recorded_at: Tue, 16 Dec 2014 13:38:15 GMT
recorded_with: VCR 2.9.3
