---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/ComponenteCurricular?access_key=***REMOVED***&instituicao_id=1&oper=get&resource=componentes-curriculares&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"disciplinas":[{"id":"3485","nome":"  Resolve situa\u00e7\u00f5es-problema
        fazendo uso da linguagem oral matem\u00e1tica. ","area_conhecimento_id":"3"},{"id":"3522","nome":"
        Ampliou as possibilidades de comunica\u00e7\u00e3o e intera\u00e7\u00e3o social
        durante as brincadeiras e alimenta\u00e7\u00e3o.","area_conhecimento_id":"9"},{"id":"3481","nome":"
        Aperfei\u00e7oa e amplia as habilidades motoras explorando os movimentos de
        andar, correr, saltar, descer, subir, puxar, empurrar, agarrar e lan\u00e7ar.","area_conhecimento_id":"7"},{"id":"3458","nome":"
        Aprecia e valoriza as cria\u00e7\u00f5es pessoai[...]
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/AreaConhecimento?access_key=***REMOVED***&instituicao_id=1&oper=get&resource=areas-de-conhecimento&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"areas":[{"id":"8","nome":"ARTES VISUAIS"},{"id":"21","nome":"ATIVIDADES
        ESPORTIVAS"},{"id":"18","nome":"DAN\u00c7A"},{"id":"15","nome":"EDUCA\u00c7\u00c3O
        AMBIENTAL"},{"id":"1","nome":"Ensino Fundamental\/B\u00e1sico"},{"id":"16","nome":"FILOSOFIA"},{"id":"9","nome":"IDENTIDADE
        E AUTONOMIA"},{"id":"19","nome":"INFORM\u00c1TICA EDUCATIVA"},{"id":"11","nome":"INFORM\u00c1TICA
        INTEGRADA "},{"id":"12","nome":"INGL\u00caS"},{"id":"23","nome":"INGL\u00caS
        (Emebi)"},{"id":"22","nome":"INICIA\u00c7\u00c3O A EXPERI\u00caNCIA CIENT\u00cdFICA"},{"id":"20","nome":"JOGOS
        MATEM\u00c1TICOS"},{"id":"5","nome":"LINGUAGEM ORAL E ESCRITA"},{"id":"17","nome":"LITERATURA"},{"id":"13","nome":"L\u00cdNGUA
        INGLESA"},{"id":"3","nome":"MATEM\u00c1TICA"},{"id":"7","nome":"MOVIMENTO"},{"id":"4","nome":"M\u00daSICA"},{"id":"6","nome":"NATUREZA
        E SOCIEDADE"},{"id":"10","nome":"\u00c1REAS DE CONHECIMENTO"},{"id":"14","nome":"TEATRO"}],"oper":"get","resource":"areas-de-conhecimento","msgs":[],"any_error_msg":false}'
  recorded_at: Thu, 27 Aug 2015 13:52:42 GMT
recorded_with: VCR 2.9.3
