---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Servidor?access_key=***REMOVED***&ano=2015&instituicao_id=1&oper=get&resource=servidores-disciplinas-turmas&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"servidores":[],"oper":"get","resource":"servidores-disciplinas-turmas","msgs":[],"any_error_msg":false}'
  recorded_at: Mon, 20 Apr 2015 18:26:45 GMT
[...]
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Servidor?access_key=***REMOVED***&ano=2017&instituicao_id=1&oper=get&resource=servidores-disciplinas-turmas&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"servidores":[],"oper":"get","resource":"servidores-disciplinas-turmas","msgs":[],"any_error_msg":false}'
  recorded_at: Wed, 01 Mar 2017 03:35:25 GMT
recorded_with: VCR 3.0.0
