---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Turma?access_key=***REMOVED***&ano=2015&instituicao_id=1&oper=get&resource=turmas-por-escola&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"turmas":[{"id":"4230","nome":"Ber\u00e7\u00e1rio I","escola_id":"1"},{"id":"4229","nome":"Ber\u00e7\u00e1rio
        II","escola_id":"1"},{"id":"4227","nome":"Ber\u00e7\u00e1rio III","escola_id":"1"},{"id":"4228","nome":"Maternal
        I","escola_id":"1"},{"id":"4224","nome":"Maternal II","escola_id":"1"},{"id":"4225","nome":"N\u00edvel
        I-1","escola_id":"1"},{"id":"4226","nome":"N\u00edvel I-2","escola_id":"1"},{"id":"4223","nome":"N\u00edvel
        II-1","escola_id":"1"},{"id":"4222","nome":"N\u00edvel II-2","escola_id":"1"},{"id":"4050","nome":"[...]
[...]
