---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Regra?access_key=***REMOVED***&instituicao_id=1&oper=get&resource=regras-recuperacao&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"regras-recuperacao":[{"id":"5","regra_avaliacao_id":"6","descricao":"Teste
        1","etapas_recuperadas":["1","2"],"media":"7.0000","nota_maxima":"20.0000"},{"id":"6","regra_avaliacao_id":"6","descricao":"Teste
        2","etapas_recuperadas":["3","2"],"media":"7.0000","nota_maxima":"50.0000"},{"id":"1","regra_avaliacao_id":"1","descricao":"recuperacao
        1","etapas_recuperadas":["1","2"],"media":"15.0000","nota_maxima":"50.0000"},{"id":"2","regra_avaliacao_id":"1","descricao":"recuperacao
        2","etapas_recuperadas":["4"],"media":"60.0000","nota_maxima":"100.0000"}],"oper":"get","resource":"regras-recuperacao","msgs":[],"any_error_msg":false}'
  recorded_at: Wed, 18 Nov 2015 12:41:25 GMT
recorded_with: VCR 3.0.0
