---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Regra?access_key=***REMOVED***&ano=2015&instituicao_id=1&oper=get&resource=regras&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"regras":[{"id":"5","tabela_arredondamento_id":"1","tipo_nota":"1","tipo_presenca":"1","parecer_descritivo":"3","turmas":[{"turma_id":"4502"},{"turma_id":"4503"},{"turma_id":"4483"},{"turma_id":"4489"},{"turma_id":"4491"},{"turma_id":"4493"},{"turma_id":"4504"},{"turma_id":"4498"},{"turma_id":"4501"},{"turma_id":"4517"},{"turma_id":"4515"},{"turma_id":"4518"},{"turma_id":"4519"},{"turma_id":"4497"},{"turma_id":"4505"},{"turma_id":"4516"},{"turma_id":"4514"},{"turma_id":"4520"},{"turma_id":"4524"},{"turma_id":"4482"},{"turma_id":"4485"},{"turma_id":"4486"},{"turma_id":"4490"},{"turma_id":"4495"},{"turma_id":"4500"},{"turma_id":[...]
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Regra?access_key=***REMOVED***&ano=2016&instituicao_id=1&oper=get&resource=regras&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"regras":[{"id":"3","tabela_arredondamento_id":"6","tipo_nota":"2","tipo_presenca":"1","parecer_descritivo":"3","tipo_recuperacao":"0","media_recuperacao_paralela":null,"nota_maxima_geral":"10","nota_maxima_exame":"10","turmas":[{"turma_id":"4613"},{"turma_id":"4671"},{"turma_id":"4674"},{"turma_id":"4660"},{"turma_id":"4662"},{"turma_id":"4659"},{"turma_id":"4661"},{"turma_id":"4618"},{"turma_id":"4623"},{"turma_id":"4669"},{"turma_id":"4670"},{"turma_id":"4614"},{"turma_id":"4617"},{"turma_id":"4663"},{"turma_id":"4664"},{"turma_id":"4665"},{"turma_id":"4672"},{"turma_id":"4673"},{"turma_id":"4619"},{"turma_id":"4620"},{"turma_id":"4666"},{"turma_id":"4667"},{"turma_id":"4668"}]},{"id":"1","tabela_arred[...]
[...]
