---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Regra?access_key=***REMOVED***&instituicao_id=1&oper=get&resource=tabelas-de-arredondamento&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"tabelas":[{"id":"1","nome":"0","descricao":"","valor_maximo":"0.400"},{"id":"1","nome":"0.5","descricao":"","valor_maximo":"0.900"},{"id":"1","nome":"1","descricao":"","valor_maximo":"1.400"},{"id":"1","nome":"1.5","descricao":"","valor_maximo":"1.900"},{"id":"1","nome":"2","descricao":"","valor_maximo":"2.400"},{"id":"1","nome":"2.5","descricao":"","valor_maximo":"2.900"},{"id":"1","nome":"3","descricao":"","valor_maximo":"3.400"},{"id":"1","nome":"3.5","descricao":"","valor_maximo":"3.900"},{"id":"1","nome":"4","descricao":"","valor_maximo":"4.000"},{"i[...]
