---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Serie?access_key=***REMOVED***&curso_id%5B0%5D=1&curso_id%5B1%5D=4&escola_id%5B0%5D=121908&escola_id%5B1%5D=76910&instituicao_id=1&oper=get&resource=series&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"series":[{"id":"1","nome":"1a S\u00e9rie"},{"id":"2","nome":"2a
        S\u00e9rie"},{"id":"3","nome":"3a S\u00e9rie"},{"id":"4","nome":"4a S\u00e9rie"},{"id":"5","nome":"5a
        S\u00e9rie"},{"id":"6","nome":"6a S\u00e9rie"},{"id":"7","nome":"7a S\u00e9rie"},{"id":"8","nome":"8a
        S\u00e9rie"},{"id":"19","nome":"Pr\u00e9-Escolar 1 (4 anos)"},{"id":"18","nome":"Pr\u00e9-Escolar
        2 (5 anos)"}],"oper":"get","resource":"series","msgs":[],"any_error_msg":false}'
  recorded_at: Mon, 03 Nov 2014 12:08:53 GMT
recorded_with: VCR 2.9.3
