---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Aluno?access_key=invalid&instituicao_id=1&oper=get&resource=todos-alunos&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"oper":"get","resource":"todos-alunos","msgs":[{"msg":"Chave de acesso
        inv\u00e1lida!","type":"error"}],"any_error_msg":true}'
  recorded_at: Thu, 11 Sep 2014 20:32:36 GMT
- request:
    method: get
    uri: https://test.ieducar.com.br/module/Api/Aluno?access_key=invalid&instituicao_id=1&oper=get&resource=todos-alunos&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oper":"get","resource":"todos-alunos","msgs":[{"msg":"Chave de acesso
        inv\u00e1lida!","type":"error"}],"any_error_msg":true}'
  recorded_at: Wed, 01 Mar 2017 03:01:20 GMT
recorded_with: VCR 3.0.0
