---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Curso?access_key=***REMOVED***&escola_id%5B0%5D=121908&escola_id%5B1%5D=76910&instituicao_id=1&oper=get&resource=cursos&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"cursos":[{"id":"4","nome":"Educa\u00e7\u00e3o Infantil"},{"id":"1","nome":"Ensino
        Fundamental - 8 Anos"},{"id":"2","nome":"Ensino Fundamental - 9 Anos"}],"oper":"get","resource":"cursos","msgs":[],"any_error_msg":false}'
  recorded_at: Mon, 03 Nov 2014 11:48:34 GMT
recorded_with: VCR 2.9.3
