---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Curso?access_key=***REMOVED***&escola_id%5B0%5D=121908&escola_id%5B1%5D=76910&instituicao_id=1&oper=get&resource=cursos&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"cursos":[{"id":"4","nome":"Educa\u00e7\u00e3o Infantil"},{"id":"1","nome":"Ensino
        Fundamental - 8 Anos"},{"id":"2","nome":"Ensino Fundamental - 9 Anos"}],"oper":"get","resource":"cursos","msgs":[],"any_error_msg":false}'
  recorded_at: Mon, 03 Nov 2014 11:48:34 GMT
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Curso?access_key=***REMOVED***&escola_id%5B0%5D=121908&escola_id%5B1%5D=76910&get_series=true&instituicao_id=1&oper=get&resource=cursos&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"cursos":[{"id":"4","nome":"Educa\u00e7\u00e3o Infantil","series":[{"id":"19","nome":"Pr\u00e9-Escolar
        1 (4 anos)"},{"id":"18","nome":"Pr\u00e9-Escolar 2 (5 anos)"}]},{"id":"1","nome":"Ensino
        Fundamental - 8 Anos","series":[{"id":"1","nome":"1a S\u00e9rie"},{"id":"2","nome":"2a
        S\u00e9rie"},{"id":"3","nome":"3a S\u00e9rie"},{"id":"4","nome":"4a S\u00e9rie"},{"id":"5","nome":"5a
        S\u00e9rie"},{"id":"6","nome":"6a S\u00e9rie"},{"id":"7","nome":"7a S\u00e9rie"},{"id":"8","nome":"8a
        S\u00e9rie"}]},{"id":"2","nome":"Ensino Fundamental - 9 Anos","series":[{"id":"9","nome":"1\u00ba
        Ano"},{"id":"10","nome":"2\u00ba Ano"},{"id":"11","nome":"3\u00ba Ano"},{"id":"12","nome":"4\u00ba
        Ano"},{"id":"13","nome":"5\u00ba Ano"},{"id":"14","nome":"6\u00ba Ano"},{"id":"15","nome":"7\u00ba
        Ano"},{"id":"16","nome":"8\u00ba Ano"},{"id":"17","nome":"9\u00ba Ano"}]}],"oper":"get","resource":"cursos","msgs":[],"any_error_msg":false}'
  recorded_at: Sun, 30 Nov 2014 17:59:09 GMT
recorded_with: VCR 2.9.3
