---
http_interactions:
- request:
    method: post
    uri: https://test.ieducar.com.br/module/Api/Aluno
    body:
      encoding: UTF-8
      string: resource=errado&oper=post&access_key=***REMOVED***&secret_key=***REMOVED***&instituicao_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oper":"post","resource":"errado","msgs":[{"msg":"Opera\u00e7\u00e3o
        ''post'' n\u00e3o implementada para o recurso ''errado''","type":"error"}],"any_error_msg":true}'
  recorded_at: Wed, 01 Mar 2017 03:01:22 GMT
recorded_with: VCR 3.0.0
