---
http_interactions:
- request:
    method: post
    uri: https://botucat.ieducar.com.br/module/Api/Aluno
    body:
      encoding: UTF-8
      string: resource=todos-alunos&oper=post&access_key=***REMOVED***&secret_key=***REMOVED***&instituicao_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oper":"post","resource":"todos-alunos","msgs":[{"msg":"Chave de acesso
        inv\u00e1lida!","type":"error"}],"any_error_msg":true}'
  recorded_at: Wed, 01 Mar 2017 03:01:21 GMT
recorded_with: VCR 3.0.0
