---
http_interactions:
- request:
    method: post
    uri: http://test.ieducar.com.br/module/Api/Diario
    body:
      encoding: US-ASCII
      string: etapa=1&turmas[1234][turma_id]=1234&resource=notas&oper=post&access_key=***REMOVED***&secret_key=***REMOVED***&instituicao_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oper":"post","resource":"notas","msgs":[{"msg":"Notas postadas com
        sucesso!","type":"success"}],"any_error_msg":false}'
  recorded_at: Tue, 18 Aug 2015 20:20:09 GMT
recorded_with: VCR 2.9.3
