---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Escola?access_key=***REMOVED***&ano=2015&instituicao_id=1&oper=get&resource=etapas-por-escola&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"escolas":[{"escola_id":"1","etapas":[{"data_inicio":"2015-02-09","data_fim":"2015-04-30"},{"data_inicio":"2015-05-04","data_fim":"2015-07-17"},{"data_inicio":"2015-08-03","data_fim":"2015-10-09"},{"data_inicio":"2015-10-14","data_fim":"2015-12-16"}]},{"escola_id":"98370","etapas":[{"data_inicio":"2015-02-09","data_fim":"2015-04-30"},{"data_inicio":"2015-05-04","data_fim":"2015-07-22"},{"data_inicio":"2015-08-03","data_fim":"2015-10-09"},{"data_inicio":"2015-10-14","data_fim":"2015-12-17"}]},{"escola_id":"98450","etapas":[{"data_inicio":"2015-02-09","data_fim":"2015-04-3[...]
