---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Aluno?access_key=***REMOVED***&aluno_id=1932&cpf=72978566221&instituicao_id=1&oper=get&resource=alunos_by_guardian_cpf&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"alunos":[{"aluno_id":"544","nome_aluno":"ADRIANO ROQUE"},{"aluno_id":"1932","nome_aluno":"ABNER
        ROCHA"}],"oper":"get","resource":"alunos_by_guardian_cpf","msgs":[],"any_error_msg":false}'
  recorded_at: Mon, 06 Oct 2014 13:25:21 GMT
recorded_with: VCR 2.9.3
