---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Turma?access_key=***REMOVED***&disciplina_id=3192&instituicao_id=1&oper=get&resource=alunos-matriculados-turma&secret_key=***REMOVED***&turma_id=4202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"alunos":[{"id":"22362"},{"id":"25075"},{"id":"11467"},{"id":"25085"},{"id":"25077"},{"id":"25083"},{"id":"25016"},{"id":"11706"},{"id":"25055"},{"id":"28182"},{"id":"25088"},{"id":"25186"},{"id":"21515"},{"id":"24849"},{"id":"25210"},{"id":"24956"},{"id":"24963"}],"oper":"get","resource":"alunos-matriculados-turma","msgs":[],"any_error_msg":false}'
  recorded_at: Wed, 29 Apr 2015 21:21:48 GMT
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Turma?access_key=***REMOVED***&data_matricula=2015-10-29&disciplina_id=3192&instituicao_id=1&oper=get&resource=alunos-matriculados-turma&secret_key=***REMOVED***&turma_id=4202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"alunos":[{"id":"22362","dependencia":false},{"id":"25075","dependencia":false},{"id":"11467","dependencia":false},{"id":"25206","dependencia":false},{"id":"25085","dependencia":false},{"id":"25077","dependencia":false},{"id":"25083","dependencia":false},{"id":"21091","dependencia":false},{"id":"25016","dependencia":false},{"id":"11706","dependencia":false},{"id":"25055","dependencia":false},{"id":"28182","dependencia":false},{"id":"25088","dependencia":false},{"id":"25186","dependencia":false},{"id":"24849","dependencia":false},{"id":"25210","dependencia":false},{"id":"24956","dependencia":false},{"id":"24963","dependencia":false}],"oper":"get","resource":"alunos-matriculados-turma","msgs":[],"any_error_msg":false}'
  recorded_at: Thu, 29 Oct 2015 17:01:54 GMT
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Turma?access_key=***REMOVED***&data_matricula=2015-11-18&disciplina_id=3192&instituicao_id=1&oper=get&resource=alunos-matriculados-turma&secret_key=***REMOVED***&turma_id=4202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"alunos":[{"id":"22362","dependencia":false},{"id":"25075","dependencia":false},{"id":"11467","dependencia":false},{"id":"25206","dependencia":false},{"id":"25085","dependencia":false},{"id":"25077","dependencia":false},{"id":"25083","dependencia":false},{"id":"21091","dependencia":false},{"id":"25016","dependencia":false},{"id":"11706","dependencia":false},{"id":"25055","dependencia":false},{"id":"28182","dependencia":false},{"id":"25088","dependencia":false},{"id":"25186","dependencia":false},{"id":"24849","dependencia":false},{"id":"25210","dependencia":false},{"id":"24956","dependencia":false},{"id":"24963","dependencia":false}],"oper":"get","resource":"alunos-matriculados-turma","msgs":[],"any_error_msg":false}'
  recorded_at: Wed, 18 Nov 2015 12:41:30 GMT
recorded_with: VCR 3.0.0
