---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Aluno?access_key=8IOwGIjiHvbeTklgwo10yVLgwDhhvs&disciplina_id=3187&instituicao_id=1&oper=get&resource=alunos-exame-turma&secret_key=5y8cfq31oGvFdAlGMCLIeSKdfc8pUC&turma_id=4244
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oper":"get","resource":"alunos-exame-turma","msgs":[{"msg":"Opera\u00e7\u00e3o
        ''get'' n\u00e3o implementada para o recurso ''alunos-exame-turma''","type":"error"}],"any_error_msg":true}'
  recorded_at: Thu, 26 Nov 2015 17:26:37 GMT
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Turma?access_key=8IOwGIjiHvbeTklgwo10yVLgwDhhvs&disciplina_id=3187&instituicao_id=1&oper=get&resource=alunos-exame-turma&secret_key=5y8cfq31oGvFdAlGMCLIeSKdfc8pUC&turma_id=4244
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"alunos":[{"id":"21008","nota_exame":"1.300"},{"id":"10485","nota_exame":"1.500"},{"id":"11185","nota_exame":"1.300"},{"id":"22273","nota_exame":"1.000"}],"oper":"get","resource":"alunos-exame-turma","msgs":[],"any_error_msg":false}'
  recorded_at: Thu, 26 Nov 2015 17:28:17 GMT
recorded_with: VCR 3.0.0
