---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Aluno?access_key=***REMOVED***&aluno_id%5B0%5D=8930&aluno_id%5B1%5D=7588&instituicao_id=1&only_valid_boletim=true&oper=get&resource=matriculas&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"matriculas":[{"id":"29113","instituicao_id":"1","escola_id":"133302","curso_id":"300","serie_id":"23","aluno_id":"8930","aluno_nome":"Nome
        Zuado","situacao":"Em andamento","ano":"2014","turma_id":"2172","turma_nome":"2\u00ba
        Ano 1","escola_nome":"Esc. Mun. Nucleo Rio Doce","curso_nome":"Ensino Fundamental
        9 Anos - Iniciais","serie_nome":"2\u00ba Ano","ultima_enturmacao":"","data_entrada":"15\/09\/2014","data_saida":[],"user_can_access":false,"transferencia_em_aberto":false}],"oper":"get","resource":"matriculas","msgs":[],"any_error_msg":false}'
  recorded_at: Tue, 23 Sep 2014 21:37:40 GMT
recorded_with: VCR 2.9.3
