---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Aluno?access_key=***REMOVED***&aluno_id%5B0%5D=1812&aluno_id%5B1%5D=1931&aluno_id%5B2%5D=2378&instituicao_id=1&only_valid_boletim=true&oper=get&resource=matriculas&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"matriculas":[{"id":"4702","instituicao_id":"1","escola_id":"121909","curso_id":"4","serie_id":"19","aluno_id":"2378","aluno_nome":"Ana
        Clara Domingos Correa","situacao":"Em andamento","ano":"2014","turma_id":"152","turma_nome":"Pr\u00e9-i
        B","escola_nome":"C.e.i. Margareth Maria Tomasi Rocha","curso_nome":"Educa\u00e7\u00e3o
        Infantil","serie_nome":"Pr\u00e9-escolar 1 (4 Anos)","ultima_enturmacao":"Pr\u00e9-i
        A","data_entrada":"05\/02\/2014","data_saida":[],"user_can_access":false,"transferencia_em_aberto":false},{"id":"3994","instituicao_id":"1","escola_id":"121909","curso_id":"4","serie_id":"20","aluno_id":"1931","aluno_nome":"Abner
        Rocha","situacao":"Aprovado","ano":"2013","turma_id":"60","turma_nome":"Jardim
        1 A","escola_nome":"C.e.i. Margareth Maria Tomasi Rocha","curso_nome":"Educa\u00e7\u00e3o
        Infantil","serie_nome":"Jardim 1","ultima_enturmacao":"","data_entrada":"11\/03\/2013","data_saida":[],"user_can_access":false,"transferencia_em_aberto":false},{"id":"1600","instituicao_id":"1","escola_id":"121908","curso_id":"4","serie_id":"19","aluno_id":"1812","aluno_nome":"Abimael
        Motta Cardoso","situacao":"Aprovado","ano":"2011","turma_id":"49","turma_nome":"Pr\u00e9
        Escolar I \" B \"","escola_nome":"E.e.b.m 12 De Maio","curso_nome":"Educa\u00e7\u00e3o
        Infantil","serie_nome":"Pr\u00e9-escolar 1 (4 Anos)","ultima_enturmacao":"","data_entrada":"02\/03\/2011","data_saida":[],"user_can_access":false,"transferencia_em_aberto":false}],"oper":"get","resource":"matriculas","msgs":[],"any_error_msg":false}'
  recorded_at: Tue, 25 Nov 2014 18:47:50 GMT
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Aluno?access_key=***REMOVED***&aluno_id%5B%5D=1812&aluno_id%5B%5D=1931&aluno_id%5B%5D=2378&instituicao_id=1&only_valid_boletim=true&oper=get&resource=matriculas&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"matriculas":[],"oper":"get","resource":"matriculas","msgs":[],"any_error_msg":false}'
  recorded_at: Wed, 18 Nov 2015 12:26:25 GMT
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Aluno?access_key=***REMOVED***&aluno_id%5B%5D=18625&aluno_id%5B%5D=18627&instituicao_id=1&only_valid_boletim=true&oper=get&resource=matriculas&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"matriculas":[{"id":"102162","instituicao_id":"1","escola_id":"124370","curso_id":"149","serie_id":"25","aluno_id":"18627","aluno_nome":"
        Andreia Ianoski \u00e7 \/* \u00e9 \u00ea \u00e3","situacao":"Em andamento","ano":"2015","turma_id":"4254","turma_nome":"Pr\u00e9
        1","escola_nome":"Emeb Pref. Henrique Liebl","curso_nome":"Educa\u00e7\u00e3o
        Infantil","serie_nome":"Pr\u00e9-escola","ultima_enturmacao":"","data_entrada":"04\/11\/2015","data_saida":[],"user_can_access":false,"user_can_change_date":false,"codigo_situacao":"3","user_can_change_situacao":false,"transferencia_em_aberto":false,"dependencia":"f"},{"id":"102141","instituicao_id":"1","escola_id":"703023","curso_id":"149","serie_id":"21","aluno_id":"18625","aluno_nome":"
        Ana Cl\u00e1udia Picksius","situacao":"Em andamento","ano":"2015","turma_id":"4001","turma_nome":"N\u00edvel
        Iii - 1","escola_nome":"Cmei Espa\u00e7o Crian\u00e7a","curso_nome":"Educa\u00e7\u00e3o
        Infantil","serie_nome":"N\u00edvel Iii","ultima_enturmacao":"","data_entrada":"26\/10\/2015","data_saida":[],"user_can_access":false,"user_can_change_[...]
[...]
