---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Turma?access_key=***REMOVED***&data_matricula=2015-11-24&disciplina_id=3192&instituicao_id=1&oper=get&resource=alunos-matriculados-turma&secret_key=***REMOVED***&turma_id=4202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"alunos":[{"id":"22362","dependencia":false,"sequencia":"0"},{"id":"25075","dependencia":false,"sequencia":"0"},{"id":"11467","dependencia":false,"sequencia":"0"},{"id":"25206","dependencia":false,"sequencia":"0"},{"id":"25085","dependencia":false,"sequencia":"0"},{"id":"25077","dependencia":false,"sequencia":"0"},{"id":"25083","dependencia":false,"sequencia":"0"},{"id":"21091","dependencia":false,"sequencia":"0"},{"id":"25016","dependencia":false,"sequencia":"0"},{"id":"11706","dependencia":false,"sequencia":"0"},{"id":"25055","dependencia":false,"sequencia":"0"},{"id":"28182","dependencia":false,"sequencia":"0"},{"id":"25088","dependencia":false,"sequencia":"0"},{"id":"25186","dependencia":false,"sequencia":"0"},{"id":"24849","dependencia":false,"sequencia":"0"},{"id":"25210","dependencia":false,"sequencia":"0"},{"id":"24956","dependencia":false,"sequencia":"0"},{"id":"24963","dependencia":false,"sequencia":"0"}],"oper":"get","resource":"alunos-matriculados-turma","msgs":[],"any_error_msg":false}'
  recorded_at: Tue, 24 Nov 2015 18:48:12 GMT
[...]
