---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Escola?access_key=8IOwGIjiHvbeTklgwo10yVLgwDhhvs&instituicao_id=1&oper=get&resource=info-escolas&secret_key=5y8cfq31oGvFdAlGMCLIeSKdfc8pUC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"escolas":[{"cod_escola":"139637","nome":"EMEB PROF IRENE OLINDA TEIFKE
        RIBEIRO","cep":"89295000","numero":null,"complemento":"","logradouro":"R VALDOMIRO
        MARTINS","bairro":"CAMPO LEN\u00c7OL","municipio":"Rio Negrinho","uf":"SC","pais":"Brasil","email":"escolaireneribeiro@gmail.com","ddd":"47","fone":"36443185","nome_responsavel":""},{"cod_escola":"703015","nome":"CMEI
        ARCO-IRIS","cep":"89295000","numero":"70","complemento":"","logradouro":"Rua
        Afonso  Mueller,","bairro":"CRUZEIRO","municipio":"Rio Negrinho","uf":"SC","pais":"Brasil","email":"cmeiarcoiris@gmail.com","ddd":"47","fone":"36443925","nome_responsavel":"ANA
        CRISTINA STREIT ECHER"},{"cod_escola":"124370","nome":"EMEB PREF. HENRIQUE
        LIEBL","cep":"89295000","numero":"503","complemento":"","logradouro":"R SANTO
        ANTONIO","bai[...]
