---
http_interactions:
- request:
    method: get
    uri: http://test.ieducar.com.br/module/Api/Aluno?access_key=***REMOVED***&instituicao_id=1&oper=get&resource=errado&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"oper":"get","resource":"errado","msgs":[{"msg":"Opera\u00e7\u00e3o
        ''get'' n\u00e3o implementada para o recurso ''errado''","type":"error"}],"any_error_msg":true}'
  recorded_at: Thu, 11 Sep 2014 20:28:55 GMT
- request:
    method: get
    uri: https://test.ieducar.com.br/module/Api/Aluno?access_key=***REMOVED***&instituicao_id=1&oper=get&resource=errado&secret_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oper":"get","resource":"errado","msgs":[{"msg":"Opera\u00e7\u00e3o
        ''get'' n\u00e3o implementada para o recurso ''errado''","type":"error"}],"any_error_msg":true}'
  recorded_at: Wed, 01 Mar 2017 03:01:19 GMT
recorded_with: VCR 3.0.0
