<table class="table table-bordered table-hover selectable">
  <thead>
    <tr>
      <th style="width:50px;"></th>
      <th>Aluno</th>
      <th>Matrícula</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
