<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= Rails.application.secrets.gtm_code %>');</script>
    <!-- End Google Tag Manager -->

    <title><%= I18n.t('http_codes.internal_server_error') %> - i-di치rio</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag "error_pages" %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= Rails.application.secrets.gtm_code %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">
      <div class="row">
        <div class="error-header">
          <h1>Oops!</h1>
          <h2>500 - Erro interno do servidor :(</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 error-details">
          <p>Desculpe, mas ocorreu um erro interno do servidor. N칩s monitoramos automaticamente estes erros e j치 avisamos nossos desenvolvedores.</p>
          <p>Enquanto isso, <a href="javascript:history.go(0)">clique aqui para tentar novamente</a>. Se o problema persistir, solicite ajuda a nossa equipe de suporte.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 error-actions">
          <a href="javascript:history.back()" class="btn btn-primary btn-lg" style="width: 100%;">Voltar para a p치gina anterior</a>
        </div>
      </div>
    </div>
  </body>
</html>
