<div class="widget-body no-padding">
  <%= simple_form_for @general_configuration,
  url: general_configurations_path, method: :patch, html: { class: "smart-form" } do |f| %>
    <fieldset>
      <div class="row">
        <div class="col col-sm-6">
          <%= f.input :security_level do %>
            <%= f.input_field :security_level, collection: SecurityLevels %>
            <i></i>
          <% end %>
        </div>
      </div>
    </fieldset>

    <footer>
      <% if @general_configuration.persisted? %>
        <%= link_to 'Histórico', history_general_configurations_path, class: 'btn btn-info' %>
      <% end %>

      <button type="submit" class="btn btn-primary">
        Salvar
      </button>
    </footer>
  <% end %>
</div>
