<tr class="nested-fields">
  <td>
    <%= link_to "#{f.object.filename}", f.object.attachment.url, target: '_blank'  %>
  </td>

  <% if action_name != 'show'%>
    <td class="actions">
      <%= f.hidden_field :id %>
      <%= link_to_remove_association t('.remove'), f, class: 'btn btn-danger btn-sm' %>
    </td>
  <% end %>
</tr>
