<div class="widget-body">
  <div class="row">
    <form>
      <div id="bootstrap-wizard-1" class="col-sm-12">
        <div class="form-bootstrapWizard">
          <ul class="bootstrapWizard form-wizard">
            <li class="active" data-target="#step1">
            <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Escolha seu perfil</span> </a>
            </li>
            <li >
              <span class="step">2</span> <span class="title">Aguardando escolha de perfil</span>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <br>
            <h3><strong>Passo 1 </strong> - Escolha seu perfil</h3>

            <div class="row">
              <div class="col-sm-4 text-center">
                <%= link_to parents_registrations_path, class: "btn btn-primary btn-block" do %>
                  <i class="fa fa-group fa-2x"></i><br/>
                  Acesso pais
                <% end %>
              </div>

              <div class="col-sm-4 text-center">
                <%= link_to students_registrations_path, class: "btn btn-primary btn-block" do %>
                  <i class="fa fa-mortar-board fa-2x"></i><br/>
                  Acesso alunos
                <% end %>
              </div>

              <div class="col-sm-4 text-center">
                <a href="#" class="btn btn-primary btn-block">
                  <i class="fa fa-male fa-2x"></i><br/>
                  Acesso servidores
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
