$(function() {
  var flashMessages = new FlashMessages(),
      $disciplineDiv = $("[data-discipline]"),
      $studentDiv = $("[data-student]"),
      $classroom = $("#absence_justification_classroom_id"),
      $discipline = $("#absence_justification_discipline_ids"),
      $absenceDate = $("#absence_justification_absence_date"),
      $absenceDateEnd = $("#absence_justification_absence_date_end"),
      $student = $("#absence_justification_student_ids");

  var teacherId = $('#teacher_id').val();

  // on change
  $classroom.on('change', function(e) {
    toggleStudent(e.val != '' && e.val != 'empty');
    fetchStudents();

    var params = { classroom_id: e.val };

    if(!_.isEmpty(params)) {
      checkExamRule(params);

      fetchDisciplines();
    }
  });

  // fetchers

  var fetchExamRule = function (params, callback) {
    $.getJSON('/exam_rules?' + $.param(params)).always(function (data) {
      callback(data);
    });
  };

  var checkExamRule = function(params){
    fetchExamRule(params, function(data){
      var examRule = data.exam_rule;
      if (!$.isEmptyObject(examRule)) {
        if (examRule.frequency_type == 2 || examRule.allow_frequency_by_discipline) {
          $disciplineDiv.show();
        }else {
          $("#absence_justification_discipline_ids").select2("data", []);
          $disciplineDiv.hide();
        }
      }else {
        $("#absence_justification_discipline_ids").select2("data", []);
        $disciplineDiv.hide();
      }
    });
  }

  function fetchStudents() {
    if(!isValidDate($absenceDate.val()) || !isValidDate($absenceDateEnd.val())){
      return;
    }

    const classroom_id = $classroom.select2('val');
    const startDate = $absenceDate.val();
    const endDate = $absenceDateEnd.val();

    $student.select2('val', '');
    $student.select2({ data: [], multiple: true });

    const filter = {
      classroom: classroom_id,
      start_at: startDate,
      end_at: startDate,
      show_inactive: false
    };

    if (!_.isEmpty(classroom_id) && !_.isEmpty(startDate) && !_.isEmpty(startDate)) {
      $.ajax({
        url: Routes.by_date_range_student_enrollments_lists_pt_br_path({
          filter: filter,
          format: 'json'
        }),
        success: fetchStudentsSuccess,
        error: fetchStudentsError
      });
    }
  };

  function fetchStudentsSuccess(data) {
    const students = (data.student_enrollments_lists||[]).map(studentEnrollment => {
      return { id: studentEnrollment['student']['id'], text: studentEnrollment['student']['name'] };
    });

    $student.select2({ data: students, multiple: true });
  };

  function fetchStudentsError() {
    flashMessages.error('Ocorreu um erro ao buscar os alunos!')
  };

  function fetchDisciplines() {
    var classroom_id = $classroom.select2('val');

    $discipline.select2('val', '');
    $discipline.select2({ data: [] });

    if (!_.isEmpty(classroom_id) ) {
      $.ajax({
        url: Routes.disciplines_pt_br_path({
          by_teacher_id: teacherId,
          by_classroom: classroom_id,
          format: 'json'
        }),
        success: fetchDisciplinesSucces,
        error: fetchDisciplinesError
      });
    }
  };

  function fetchDisciplinesSucces(disciplines) {
    var disciplines = _.map(disciplines, function(discipline){
      return { id: discipline.id, text: discipline.description };
    });

    $discipline.select2({ data: disciplines });
  };

  function fetchDisciplinesError() {
    flashMessages.error('Ocorreu um erro ao buscar as disciplinas!')
  };

  // togglers
  if ($classroom.val() != '' && $classroom.val() != 'empty') {
    checkExamRule({ classroom_id: $classroom.val() });
  }else {
    toggleDiscipline(false);
  }

  toggleStudent($classroom.val() != '' && $classroom.val() != 'empty');

  function toggleStudent(show) {
    if (show) {
      $studentDiv.show();
    }else {
      $studentDiv.hide();
    }
  }

  function toggleDiscipline(show) {
    if (show) {
      $disciplineDiv.show();
    }else {
      $("#absence_justification_discipline_ids").select2("data", []);
      $disciplineDiv.hide();
    }
  }

  function onChangeFileElement(){
    if (this.files[0].size > 3145728) {
      $(this).closest(".control-group").find('span').remove();
      $(this).closest(".control-group").addClass("error");
      $(this).after('<span class="help-inline">tamanho máximo por arquivo: 3 MB</span>');
      $(this).val("");
    }else {
      $(this).closest(".control-group").removeClass("error");
      $(this).closest(".control-group").find('span').remove();
    }
  }

  $('#absence_justification').on('cocoon:after-insert', function(e, item) {
    $(item).find('input.file').on('change', onChangeFileElement);
  });

  $absenceDate.on('change', fetchStudents);
  $absenceDateEnd.on('change', fetchStudents);
});
