<tr class="nested-fields">
  <td>
    <%= f.input :description, label_html: { class: 'hidden' } %>
  </td>

  <td>
    <%= f.input :weight, label_html: { class: 'hidden' }, input_html: { value: f.object.persisted? && !f.object.changed? ? number_with_precision(f.object.weight, precision: f.object.test_setting.number_of_decimal_places) : f.object.weight } %>
  </td>

  <td>
    <%= f.input :test_type, collection: TestTypes, label_html: { class: 'hidden' } %>
  </td>

  <td class="actions">
    <%= link_to_remove_association t('.remove'), f, class: 'btn btn-danger btn-sm' %>
  </td>
</tr>
