<fieldset>

  <div class="row">
    <div class="col col-sm-4">
      <%= f.input :unity_id, as: :select2, elements: @unities, disabled: true %>
    </div>

    <div class="col col-sm-4">
      <%= f.input :unity_id, as: :select2, elements: @unities, disabled: true %>
    </div>

    <div class="col col-sm-4">
      <%= f.input :unity_id, as: :select2, elements: @unities, disabled: true %>
    </div>
  </div>

</fieldset>
