<div class="row">
  <div class="error-header">
    <h1>Oops!</h1>
    <h2>500 - Erro interno do servidor :(</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 error-details">
    <p>Desculpe, mas ocorreu um erro interno do servidor. Nós monitoramos automaticamente estes erros e já avisamos nossos desenvolvedores.</p>
    <p>Enquanto isso, <a href="javascript:history.go(0)">clique aqui para tentar novamente</a>. Se o problema persistir, solicite ajuda a nossa equipe de suporte.</p>
  </div>
</div>
