<div class="row">
  <div class="col-sm-8 col-sm-offset-2 error-details">
    <h1>A alteração que você queria foi rejeitada.</h1>
    <p>O pedido foi bem formado, mas não foi possivel continuar devido a erros de semântica.</p>
  </div>
</div>
