<tr class="nested-fields">
  <td>
    <%= f.input :start_at, label_html: { class: 'hidden' }, input_html: { value: f.object.localized.start_at }, disabled: true  %>
  </td>

  <td>
    <%= f.input :end_at, label_html: { class: 'hidden' }, input_html: { value: f.object.localized.end_at }, disabled: true %>
  </td>

  <td>
    <%= f.input :start_date_for_posting, label_html: { class: 'hidden'}, input_html: { value: f.object.localized.start_date_for_posting } %>
  </td>

  <td>
    <%= f.input :end_date_for_posting, label_html: { class: 'hidden'}, input_html: { value: f.object.localized.end_date_for_posting } %>
  </td>
</tr>
