<tr class="nested-fields">
  <td>
    <%= f.input :start_at, label_html: {class: 'hidden'} %>
  </td>

  <td>
    <%= f.input :end_at, label_html: {class: 'hidden'} %>
  </td>

  <td class="actions">
    <%= link_to_remove_association t('.remove'), f,
      class: 'btn btn-danger btn-sm' %>
  </td>
</tr>