<div class="nested-fields">
  <hr class="nested-fields-separator">

  <div class="row" data-nested-fields>

    <div class="col col-sm-4">
      <%= f.input :start_at %>
    </div>

    <div class="col col-sm-4">
      <%= f.input :end_at %>
    </div>

    <div class="col col-sm-4">
      <%= link_to_remove_association t('.remove'), f,
        class: 'btn btn-danger btn-sm btn-rm-item' %>
    </div>
  </div>
</div>
