<div class="widget-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="resources">
      <thead>
        <tr>
          <th>Aluno</th>
          <th>Data</th>
          <th>Tipo</th>
          <th>Descrição</th>
        </tr>
      </thead>

      <tbody>
        <% @disciplinary_incidents.each do |incident| %>
          <tr>
            <td><%= incident.student %></td>
            <td><%= incident.date %></td>
            <td><%= incident.kind %></td>
            <td><%= incident.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>
