<tbody>
<% ApiPostingTypes.each_value do |value| %>
  <tr>
    <td>
      <% if instance_variable_get("@#{value}_posting") && instance_variable_get("@#{value}_posting").syncronization_in_progress? %>
          <%= link_to "Enviar "+ApiPostingTypes.t(value),
          '#',
          class: 'btn bg-color-red txt-color-white disabled' %>
      <% else %>
        <%= link_to "Enviar "+ApiPostingTypes.t(value),
              ieducar_api_exam_postings_path(post_type: value),
              method: 'post',
              class: 'btn bg-color-red txt-color-white' %>
      <% end %>
    <td>
      <% if instance_variable_get("@#{value}_posting") %>
        <% if instance_variable_get("@#{value}_posting").status == ApiPostingStatus::STARTED %>
          <i class="fa fa-cog fa-spin"></i> Enviando
        <% else %>
          <p class="success"><%= instance_variable_get("@#{value}_posting").message %></p>
          <p class="danger"><%= instance_variable_get("@#{value}_posting").error_message %></p>
        <% end %>
      <% else %>
        <i>Nenhuma postagem realizada</i>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>