<div class="widget-body">
  <% if current_user.admin? || current_user.employee? || current_user.administrator? %>
    <div class="alert fade in alert-warning">
      <i class="fa-fw fa fa-warning"></i>
      <span>
        Use o <strong> botão "Repetir envio"</strong> para corrigir falhas de envio para o i-Educar.
      </span>
    </div>
  <% end %>
  <% @steps.each do |step| %>
    <legend><%= step.to_s %></legend>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th width="20%">Tipo</th>
            <th>Situação</th>
            <th width="2%"></th>
          </tr>
        </thead>

        <%= render 'resources', step: step %>
      </table>
    </div>
  <% end %>
</div>

<% content_for :js do %>
  <%= render 'percentage_refresh' %>
<% end %>
