<div class="widget-body no-padding">
  <div class="table-responsive">
    <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover" id="resources">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Situação</th>
          <th></th>
        </tr>
      </thead>
      <%= render 'resources' %>
    </table>
  </div>
</div>
