<div class="widget-body no-padding">
  <div class="table-responsive">
    <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover selectable" id="resources">
      <thead>
        <tr>
          <th><%= Role.human_attribute_name :name %></th>
          <th><%= Role.human_attribute_name :kind %> qwewq</th>
          <th><%= UserRole.human_attribute_name :unity %></th>
          <th style="width: 90px;"></th>
        </tr>
      </thead>

      <%= render 'resources' %>
    </table>
  </div>
</div>
