/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require smartadmin_and_overrides
 *= require summernote_and_overrides
 *= require jNotify.jquery.css
 *= require educacao
 *= require jquery-file-upload/jquery.fileupload
 *= require_tree ./resources
 *= require_self
 */

textarea.form-control.text {
  padding-top: 5px;
  padding-left: 10px;
}

.txt-color-portabilis{
	color: #005495;
}

.registration-link{
  text-decoration: none !important;
  color: #000 !important
}

.registration-paragraph{
  width: 101%;
}

.registration-link-hover:hover{
  text-decoration: underline!important
}

.center {
  text-align: center;
}

#paginator ul.pagination{
	margin-top: 0px;
	margin-bottom: 0px;
}