@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: auto;
  }
}

@media (min-width: 979px) {
  body {
    padding-top: 50px;
    position: relative;
  }
}

@media (min-width: 600px) {
  .buttons {
    margin-top: -47px;
  }
}
