/*
 *= require smart_admin/bootstrap
 *= require smart_admin/smartadmin-production
 *= require smart_admin/smartadmin-skins
 *= require_self
 */

nav ul li.current a {
  font-weight: bold;
}

nav ul li b.collapse-sign {
  margin-right: -10px;
}

nav ul li.open b.collapse-sign em:before {
  content: "\f147" !important;
}

nav ul li b.collapse-sign em:before {
  content: "\f196" !important;
}

.smart-form .modal-open {
    overflow: hidden;
}

.smart-form .modal {
    bottom: 0;
    box-sizing: none;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}

.smart-form .modal.fade .smart-form .modal-dialog {
    transform: translate3d(0px, -25%, 0px);
    transition: transform 0.3s ease-out 0s;
}

.smart-form .modal.in .smart-form .modal-dialog {
    transform: translate3d(0px, 0px, 0px);
}

.smart-form .modal-open .smart-form .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.smart-form .modal-dialog {
    margin: 10px;
    position: relative;
    width: auto;
}

.smart-form .modal-dialog {
    margin: 30px auto;
    width: 600px;
}

.smart-form .modal-content {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}

.smart-form .modal-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}

.smart-form .modal-backdrop.fade {
    opacity: 0;
}

.smart-form .modal-backdrop.in {
    opacity: 0.5;
}

.smart-form .modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
    padding: 15px;
}

.smart-form .modal-header .close {
    margin-top: -2px;
}

.smart-form .modal-title {
    line-height: 1.42857;
    margin: 0;
}

.smart-form .modal-body {
    padding: 15px;
    position: relative;
}

.smart-form .modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}

.smart-form .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.smart-form .modal-footer .btn {
    padding: 6px 12px;
}

.smart-form .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.smart-form .modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.smart-form .modal-scrollbar-measure {
    height: 50px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 50px;
}

.smart-form input[disabled] {
  background-color: #eee;
}

.smart-form input[readonly] {
  background-color: #eee;
}

.smart-form textarea[readonly] {
  background-color: #eee;
}

#extr-page .hero{
  height: 295px;
  background-image: none;
}

#extr-page .login-app-icons{
  margin-top: 87px;
}

.icon-addon .fa{
    z-index: 1;
}

.widget-body table.table.table-bordered.table-only-inner-bordered{
    border: 0;
}

.widget-body table.table.table-bordered.table-only-inner-bordered tfoot tr td{
    border-left: 0;
    border-bottom: 0;
}

.widget-body table.table.table-bordered.table-only-inner-bordered thead tr td,
.widget-body table.table.table-bordered.table-only-inner-bordered thead tr th{
    border-left: 0;
}

aside#left-panel{
  width: 225px;
  padding-top: 76px !important;
}

.fixed-header #main {
  margin-top: 61px;
}

.label{
  font-size: 80%;
  white-space: normal;
  margin-bottom: 3px;

}

.widget-body table.table.table-bordered td div.control-group{
  margin-bottom: 0;
}

.icon-addon > input.datepicker {
  padding-left: 30px;
}

.icon-addon > input.datepicker[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

#main {
  min-height: 100%;
  height:auto !important;
  height: 100%;
}

body {
  min-height: calc(100vh - 61px);
  padding: 0;
}

.jarviswidget { margin-bottom: 10px; }

#main .back-link {
  margin-left: 16px;
}

#ribbon {
  border-bottom: 0;
}

.fixed-header #header {
  z-index: 1001;
}
