<tr class="nested-fields <%= f.object.new_record? ? 'dynamic' : 'existing' %>">
  <td>
    <%= f.input :discipline_id, as: :hidden %>
    <%= f.object.discipline.description %>
  </td>

  <td>
    <%= f.input :value, as: :select2,
          elements: f.object.decorator.data_for_select2,
          label_html: { class: 'hidden' } %>
  </td>
</tr>
