<table>
  <thead>
    <tr>
      <th style='text-align: center'>
        Registro de justificativa de falta
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style='text-align: center; border-bottom: none;'>
        <%= @unity.name %>
      </td>
    </tr>
    <tr>
      <td style='text-align: center; border-top:none; border-bottom: none;'>
        Secretaria Municipal de Educação
      </td>
    </tr>
    <tr>
      <td style='text-align: center; border-top:none;'>
        ESCOLA MUNICIPAL EDMEE MONTEIRO BRASIL
      </td>
    </tr>
  </tbody>
</table>
