<div class="widget-body no-padding">
    <fieldset>
    </fieldset>

    <footer>
      <%= link_to 'Imprimir', reports_attendance_path(format: :pdf), target: '_new', class: "btn btn-primary" %>
    </footer>
</div>