<li class="list-group-item">
  <input type="checkbox" name="discipline_content_record[content_record_attributes][content_ids][]" id="discipline_content_record_content_record_attributes_content_ids_" value="<%= id %>" hidden="hidden"
    data-content_description="<%= description %>">
  <span style="margin-left: 5px;"><%= description %></span>
</li>