<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm">
  <div class="panel panel-teal pricing-big login-box">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-group"></i>
        Acesso pais
      </h3>
    </div>

    <div class="panel-body no-padding text-align-center">
      <div class="price-features">
        <a class="btn btn-primary btn-block">Novo acesso</a>
        <a class="btn btn-success btn-block">Já possuo acesso</a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm">
  <div class="panel panel-teal pricing-big login-box">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-mortar-board"></i>
        Acesso alunos
      </h3>
    </div>

    <div class="panel-body no-padding text-align-center">
      <div class="price-features">
        <a class="btn btn-primary btn-block">Novo acesso</a>
        <a class="btn btn-success btn-block">Já possuo acesso</a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm">
  <div class="panel panel-teal pricing-big login-box">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-male"></i>
        Acesso servidores
      </h3>
    </div>

    <div class="panel-body no-padding text-align-center">
      <div class="price-features">
        <a class="btn btn-primary btn-block">Novo acesso</a>
        <a class="btn btn-success btn-block">Já possuo acesso</a>
      </div>
    </div>
  </div>
</div>
