<header id="header">
	<div id="logo-group">
	<%= image_tag 'portabilis_logo.png', height: '70px' %>
	</div>
	<span id="extr-page-header-space">
		<span class="hidden-mobile">Precisa de uma conta?</span>
		<%= link_to "Criar conta", new_registration_path, class: "btn btn-danger"%>
	</span>
</header>