<header id="header">
  <div id="logo-group" style="margin-top: 5px;">
    <%= link_to(
      image_tag(
        logo_url,
        height: '60px',
        alt: current_entity_configuration.try(:entity_name)
      ),
      root_path
    )%>
  </div>
  <span id="extr-page-header-space">
    <span class="hidden-mobile">Não possui uma conta?</span>
    <%= link_to "Criar conta", new_registration_path, class: "btn btn-danger"%>
  </span>
</header>
