<a id="user-info-selector" href="#">
  <%= content_tag :span do %>
    <%= t('layouts.application.change_profile') %>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  <% end %>
</a>

<div id="current-role-selector">
  <div id="profile-selection">
    <b-profile-changer></b-profile-changer>
  </div>
</div>
