<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> - Educar+</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag "error_pages" %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 error-actions">
          <a href="javascript:history.back()" class="btn btn-primary btn-lg" style="width: 100%;">Voltar para a página anterior</a>
        </div>
      </div>
    </div>
  </body>
</html>
