<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>i-Diário</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <%= javascript_include_tag "application" %>
  </head>
  <body style="width: 210mm; margin: auto;">
    <%= yield %>
  </body>

</html>

